@page "/"
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<SfGrid DataSource="@EmployeeData" RowHeight="60">
    <GridColumns>
        <GridColumn HeaderText="Employee Image"
                    TextAlign="TextAlign.Center"
                    Width="250">
        </GridColumn>
        <GridColumn HeaderText="Employee Details"
                    Width="300">
        </GridColumn>
        @*Uncomment below columns for detail template*@
        @*<GridColumn Field="FirstName"
                    HeaderText="First Name">
        </GridColumn>
        <GridColumn Field="Title"
                    HeaderText="Title">
        </GridColumn>
        <GridColumn Field="City"
                    HeaderText="City">
        </GridColumn>
        <GridColumn Field="Country"
                    HeaderText="Country">
        </GridColumn>*@
    </GridColumns>
    <GridTemplates>
        @*For detialed row change below tag as DetailTemplate*@
        <RowTemplate>
            @{
                var employee = (context as Employee);
                <td class="photo">
                    <img src="@UriHelper.ToAbsoluteUri($"images/data-grid/{employee.EmployeeID}.png")" />
                </td>
                <td class="details">
                    <table class="CardTable" cellpadding="3" cellspacing="2">
                        <colgroup>
                            <col />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="CardHeader">First Name</td>
                                <td>@employee.FirstName</td>
                            </tr>
                            <tr>
                                <td class="CardHeader">Last Name</td>
                                <td>@employee.LastName </td>
                            </tr>
                            <tr>
                                <td class="CardHeader">
                                    Birth Date
                                </td>
                                <td>
                                    @employee.BirthDate.ToShortDateString()
                                </td>
                            </tr>
                            <tr>
                                <td class="CardHeader">
                                    Hire Date
                                </td>
                                <td>
                                    @employee.HireDate.ToShortDateString()
                                </td>
                            </tr>
                            <tr>
                                <td class="CardHeader">
                                    Phone Number
                                </td>
                                <td>
                                    @employee.Phone
                                </td>
                            </tr>
                            <tr>
                                <td class="CardHeader">
                                    Email ID
                                </td>
                                <td>
                                    @employee.Email
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            }
        </RowTemplate>
    </GridTemplates>
</SfGrid>

@code{
    public List<Employee> EmployeeData { get; set; }
    protected override void OnInitialized()
    {
        EmployeeData = Employee.GetAllRecords();
    }
}

<style>
    .photo {
        border-width: 1px 0px 0px 0px;
        text-align: center;
    }

    .photo img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }

    /*    comment bleow styles for detailed row */
    .photo, .details {
        border-color: #e0e0e0;
        border-style: solid;
    }

    .details {
        border-width: 1px 0px 0px 0px;
        padding-left: 18px;
    }

    .CardTable col{
        width: 50%;
    }

    .details > table {
        width: 100%;
    }

    /*    Change the padding right as 20px form DetailTemplate */
    td {
        padding: 2px 2px 3px 4px;
    }

    .CardHeader {
        font-weight: 600;
    }

    .e-grid .e-altrow {
        background-color: #fafafa;
    }
</style>